<head>
	<title>Rocket Elevators: Residential</title>
</head>

		<!-- wrapper -->
		<div id="wrapper">



			<!-- 
				AVAILABLE HEADER CLASSES
				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height
				.b-0 		= remove bottom border (only with transparent use)
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom
				.clearfix		= required for mobile menu, do not remove!
			-->
			<div id="header" class="navbar-toggleable-md clearfix transparent sticky dark disable-uppercase">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="/index">
							<%= image_tag 'R2.png', alt:"R2" %>
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="index.html" id="home-nav">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="index.html#services" id="services-nav">
											SERVICES
										</a>
									</li>
									<li><!-- WORK -->
										<a href="index.html#portfolio" id="portfolio-nav">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="index.html#news" id="news-nav">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="index.html#clients" id="clients-nav">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="index.html#contact" id="contact-nav">
											CONTACT
										</a>
									</li>
									<% if user_signed_in? %>
										<li><!-- BACK OFFICE -->
											<a href="/intervention" id="contact-nav">
												INTERVENTIONS
											</a>
										</li>
									<% end %>
									<li><!-- LOGIN -->
										<a href=<%= new_user_session_path %> id="contact-nav">
											LOGIN
										</a>
									</li>
									<% if user_signed_in? %>
										<li><!-- BACK OFFICE -->
											<a href="/admin" id="contact-nav">
												BACK OFFICE
											</a>
										</li>
									<% end %>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>



			<!-- REVOLUTION SLIDER -->
			<section id="slider" class="fullwidthbanner-container roundedcorners">
				<!--
					Navigation Styles:
					
						data-navigationStyle="" theme default navigation
						
						data-navigationStyle="preview1"
						data-navigationStyle="preview2"
						data-navigationStyle="preview3"
						data-navigationStyle="preview4"
						
					Bottom Shadows
						data-shadow="1"
						data-shadow="2"
						data-shadow="3"
						
					Slider Height (do not use on fullscreen mode)
						data-height="300"
						data-height="350"
						data-height="400"
						data-height="450"
						data-height="500"
						data-height="550"
						data-height="600"
						data-height="650"
						data-height="700"
						data-height="750"
						data-height="800"
				-->
				<div class="fullscreenbanner" data-navigationStyle="preview4">
					<ul class="hide">

						<!-- SLIDE  -->
						<%# <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 1" > %>
						<li data-transition="" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Home">
							
							<%= image_tag("AdobeStock_179073967.jpeg", :alt=>"", :data=>"cover", :data=>"center bottom", :data=>"no-repeat" )%>
							<div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

							<div class="tp-caption customin ltl tp-resizeme large_bold_white"
								data-x="center"
								data-y="230"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1200"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
								Corprate Building Services
							</div>

							<div class="tp-caption customin ltl tp-resizeme small_light_white"
								data-x="center"
								data-y="330"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1400"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10; width: 750px; max-width: 750px; white-space: normal; text-align:center; font-size:20px;">
								<span class="font-lato">
									Ready to get your business moving up? Check out our corprate services
								</span>
							</div>

						</li>

						<!-- SLIDE  -->

					</ul>
				</div>
			</section>
			<!-- /REVOLUTION SLIDER -->



			<!-- CALLOUT -->
			<div class="alert alert-transparent bordered-bottom m-0">
				<div class="container">

					<div class="row">

						<div class="col-md-9 col-sm-12"><!-- left text -->
							<h3><strong>ROCKET ELEVATORS &ndash; ELEVATE SAFETY, SPEED AND STYLE </strong></h3>
							<p class="font-lato fw-300 fs-20 mb-0">
								We truly care about our users and our product.
							</p>
						</div><!-- /left text -->

						
						<div class="col-md-3 col-sm-12 text-right"><!-- right btn -->
							<a href=<%=quote_path%> class="btn btn-3d btn-teal btn-lg fs-16">GET A QUOTE</a>
						</div><!-- /right btn -->
					</div>
				</div>
			</div>
			<!-- /CALLOUT -->
			<!-- ->
			<section>
				<div class="container">
					<!-b- ->
					<article class="row">
						<div class="col-md-6">
							<!-b- OWL SLIDER 
							<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
								<div>
									<img class="img-fluid" src="demo_files/images/mockups/800x553/18-min.jpg" alt="">
								</div>
								<div>
									<img class="img-fluid" src="demo_files/images/mockups/800x553/17-min.jpg" alt="">
								</div>
								<div>
									<img class="img-fluid" src="demo_files/images/mockups/800x553/3-min.jpg" alt="">
								</div>
								<div>
									<img class="img-fluid" src="demo_files/images/mockups/800x553/2-min.jpg" alt="">
								</div>
							</div>
							<!-b- /OWL SLIDER 
						</div>
						<div class="col-md-6">
							<h3>Rocket Elevators: Why residential owners choose us</h3>
							<p>Top of the line products and accessories</p>
							
							<p>Excellent and award-winning maintence service</p>
							
							<p>Fast and friendly</p>
							
						
						</div>
					</article>
					<!-\- / ->
				</div>
			</section>
			<!- / -->
			<!-- CALLOUT ->
			<section class="callout-dark heading-title heading-arrow-bottom">
				<div class="container">
					<div class="text-center">
						<h3 class="fs-30">Smarty Multipurpose Responsive Template</h3>
						<p>We can't solve problems by using the same kind of thinking we used when we created them.</p>
					</div>
				</div>
			</section>
			<!- /CALLOUT -->
			<!--
			<section>
				<div class="container">
					<div class="row">
						<!- toggle ->
						<div class="col-md-4 col-sm-4">
							<div class="toggle toggle-accordion toggle-transparent toggle-bordered-full">
								<div class="toggle active">
									<label>Lorem ipsum dolor.</label>
									<div class="toggle-content">
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
									</div>
								</div>
								<div class="toggle">
									<label>Sit amet, consectetur.</label>
									<div class="toggle-content">
										<p>Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
									</div>
								</div>
								<div class="toggle">
									<label>Consectetur adipiscing elit.</label>
									<div class="toggle-content">
										<p>Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
									</div>
								</div>
							</div>
						</div>
						<!- /toggle ->
						<!- skills ->
						<div class="col-md-4 col-sm-4">
							<h4>Our Skills</h4>
							<label>
								<span class="float-right">60%</span>
								MARKETING
							</label>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%; min-width: 2em;"></div>
							</div>
							<label>
								<span class="float-right">88%</span>
								SALES
							</label>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
							</div>
							<label>
								<span class="float-right">93%</span>
								DESIGN
							</label>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 93%; min-width: 2em;"></div>
							</div>
							<label>
								<span class="float-right">77%</span>
								DEVELOPMENT
							</label>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 77%; min-width: 2em;"></div>
							</div>
							<label>
								<span class="float-right">99%</span>
								OTHER
							</label>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 99%; min-width: 2em;"></div>
							</div>``
						</div>
						</skills ->
						<!- recent news ->
						<div class="col-md-4 col-sm-4">
							<h4>Recent News</h4>
							<div class="row tab-post"><!- post ->
								<div class="col-md-2 col-sm-2 col-2">
									<a href="blog-sidebar-left.html">
										<img src="demo_files/images/people/300x300/1-min.jpg" width="50" alt="" />
									</a>
								</div>
								<div class="col-md-10 col-sm-10 col-10">
									<a href="blog-sidebar-left.html" class="tab-post-link">Maecenas metus nulla</a>
									<small>June 29 2014</small>
								</div>
							</div><!- /post ->
							<div class="row tab-post"><!- post ->
								<div class="col-md-2 col-sm-2 col-2">
									<a href="blog-sidebar-left.html">
										<img src="demo_files/images/people/300x300/2-min.jpg" width="50" alt="" />
									</a>
								</div>
								<div class="col-md-10 col-sm-10 col-10">
									<a href="blog-sidebar-left.html" class="tab-post-link">Curabitur pellentesque neque eget</a>
									<small>June 29 2014</small>
								</div>
							</div><!- /post ->
							<div class="row tab-post"><!- post ->
								<div class="col-md-2 col-sm-2 col-2">
									<a href="blog-sidebar-left.html">
										<img src="demo_files/images/people/300x300/3-min.jpg" width="50" alt="" />
									</a>
								</div>
								<div class="col-md-10 col-sm-10 col-10">
									<a href="blog-sidebar-left.html" class="tab-post-link">Nam et lacus neque. Ut enim massa</a>
									<small>June 29 2014</small>
								</div>
							</div><!- /post ->
						</div>
						<!-/recent news ->
					</div>
				</div>
			</section>
			 -->
			<!-- -->
			<section class="alternate">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<h3 class="fs-20">Rocket Elevators: Why business owners choose us</h3>
							<ul class="list-unstyled">
								<li><i class="fa fa-check"></i> Top of the line products and accessories</li>
								<li><i class="fa fa-check"></i> Excellent and award-winning maintainance service</li>
								<li><i class="fa fa-check"></i> Fast and friendly</li>
							</ul>
						</div>
						<div class="col-md-6 col-sm-6">
							<h3 class="fs-20 text-center">What do our clients say?</h3>
							<!-- 
								Note: remove class="rounded" from the img for squared image!
							-->
							<ul class="row clearfix testimonial-dotted list-unstyled">
								<li class="col-md-6">
									<div class="testimonial">
										<div class="testimonial-content">
											<p>Very efficient and friendly</p>
											<cite>
												Joanna Doe
												<span>The Saint Hotel</span>
											</cite>
										</div>
									</div>
								</li>
								<li class="col-md-6 col-sm-6">
									<div class="testimonial">
										<div class="testimonial-content">
											<p>The maintenance service makes my life easy</p>
											<cite>
												Melissa Doe
												<span>WaterView Echelon</span>
											</cite>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- / -->
			<!-- 
			CALLOUT
			FULLWIDTH: OUTSIDE OF <section> 
				Available Classes:
				alert-default
				alert-info
				alert-warning
				alert-danger
				alert-success
				alert-dark
			-->
			<section class="callout alert alert-transparent b-0 rad-0 m-0">
				<div class="text-center">
					<h3>Call now at <span><strong>(418) 555-1234</strong></span></h3>
					<p class="font-lato fs-20">
						We truly care about our users and our product.
					</p>
					
					<a href=<%=quote_path%> class="btn btn-teal btn-lg mt-30">GET A QUOTE</a>

				</div>

			</section>
			<!-- /CALLOUT -->




<footer id="footer">
		<div class="container">


			<div class="row">

				<!-- col #1 -->
				<div class="col-md-8">

					<h3 class="letter-spacing-1">WHY US?</h3>

					<!-- Small Description -->
					<p>
						We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
					</p>
					<h2>(418) 555-1234</h2>
				</div>
				<!-- /col #1 -->

				<!-- col #2 -->
				<div class="col-md-4">
					<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

					<!-- Newsletter Form -->
					<p>Subscribe to Our Newsletter to get Important News & Offers</p>

					<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
							<span class="input-group-btn">
								<button class="btn btn-success" type="submit" disabled>Subscribe</button>
							</span>
						</div>
					</form>
					<!-- /Newsletter Form -->


				</div>
				<!-- /col #2 -->

			</div>


		</div>

		<div class="copyright">
			<div class="container">
				<ul class="float-right m-0 list-inline mobile-block">
					<li><a href="#">Terms &amp; Conditions</a></li>
					<li>&bull;</li>
					<li><a href="#">Privacy</a></li>
				</ul>
				&copy; All Rights Reserved, Company LTD
			</div>
		</div>

	</footer>
	<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		
		<!-- JAVASCRIPT FILES ->
		<script>var plugin_path = 'assets/plugins/';</script>
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

		<script src="assets/js/scripts.js"></script>
		
		<!- STYLESWITCHER - REMOVE ->
		<script async src="demo_files/styleswitcher/styleswitcher.js"></script>

		<!- REVOLUTION SLIDER ->
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="assets/js/view/demo.revolution_slider.js"></script>-->
</html>
                                                                                                 